@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
    color: #fff;
}

.section-1 {
    width: 100%;
    height: 500px;
    background: url("./images/section-one.jpg") center / cover no-repeat;
}

.s1-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(90.2deg, rgba(2, 2, 2, 0.58) 0.16%, rgba(196, 196, 196, 0) 99.83%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-weight: 400;
    font-size: 44px;
    margin-bottom: 30px;
}

p {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Montserrat',sans-serif;
}

.btn {
    width: 150px;
    height: 35px;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%);
    border-radius: 20px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    border: none;
    margin-right: 20px;
}

.find-btn {
    background: none;
    border: 1px solid #fff;
}

.section-2 {
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%),#3C444C;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.right-block {
    padding: 50px 80px 0px 0px;
}

.right-block > img {
    width: 600px;
}

.left-block {
    width: 60%;
    padding: 100px 0px 0px 100px;
}

.s2-btn {
    background: #fff;
    color: #000;
    position: relative;
    align-items: center ;
}

.left-block > p {
    margin: 30px 0px 40px 0px;
}

.section-3 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 50%;
    height: 100%;
    background: #3C444C;
    text-align: center;
    padding-top: 120px;
}

.s2-btn > img {
    position: absolute;
    right: 20px;
}

.right-side {
    width: 50%;
    height: 100%;
    background: url("./images/s3-right.jpg") center / cover no-repeat;
}

.right-gr {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(161, 84, 242, 0.7) -12.89%, rgba(242, 122, 84, 0.7) 114.44%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4 {
    width: 100%;
    height: 500px;
    background: url("./images/last.jpg") center / cover no-repeat;

}

.gradient-4 {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #3C444C 0%, rgba(60, 68, 76, 0) 100%);
}

.top {
    padding: 25px 50px;
}

.info-block {
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.info-block > img {
    margin-right: 20px;
}

.category {
    background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%);
    border-radius: 2px;
    font-weight: bold;
    border: none;
    padding: 2px 6px;
}

@media(max-width: 1000px) {

    .right-block {
        display: none;
    }
    .left-block {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
}

@media(max-width: 800px) {

    .section-3 {
        display: inline;
    }

    .left-side {
        width: 100%;
        height: 600px;
    }

    .right-side {
        width: 100%;
        height: 600px;
    }
}




@media(max-width: 400px) {

    .section-1,
    .section-2,
    .section-4 {
        height: 600px;
    }

    .btn {
        margin-bottom: 15px;
    }

    .find-btn {
        background: rgba(0, 0, 0, 0.282);
        border: none;
    }

    .s1-gradient, .gradient-4 {
        padding: 0px 30px;
    }
}